In [5]:
rm(list=ls())

load("/EXAM_2122_2s.Rdata")

## x1->x2 -> x3 ->x4

for (group in 1:3){



if (group==2)

   ptable=Q1.G1.D



if (group==1)

   ptable=Q1.G2.D



if (group==3)

   ptable=Q1.G3.D


cat("\n group=",group,"\n")



# P(x1=1)

In=which(ptable$x1=="1" )

cat("P(x1=1)=",sum(ptable[In,"prob"]),"\n")



# P(x2=0)

In=which(ptable$x2=="0" )

cat("P(x2=0)=",sum(ptable[In,"prob"]),"\n")



# P(x4=0)

In=which(ptable$x4=="0" )

cat("P(x4=0)=",sum(ptable[In,"prob"]),"\n")





# P(x1=1| x2=1)

Id=which(ptable$x2=="1")

In=which(ptable$x1=="1"  & ptable$x2=="1")

cat("P(x1=1|x2=1)=",sum(ptable[In,"prob"])/sum(ptable[Id,"prob"]),"\n")







## x1 and x2 independent?

px1=c(sum(ptable[which(ptable$x1=="1"),"prob"]),

      sum(ptable[which(ptable$x1=="0"),"prob"]))

px2=c(sum(ptable[which(ptable$x2=="1"),"prob"]),

      sum(ptable[which(ptable$x2=="0"),"prob"]))



px1x2=rbind(c(sum(ptable[which(ptable$x1=="1" & ptable$x2=="1"),"prob"]),

              sum(ptable[which(ptable$x1=="1" & ptable$x2=="0"),"prob"])),

            c(sum(ptable[which(ptable$x1=="0" & ptable$x2=="1"),"prob"]),

              sum(ptable[which(ptable$x1=="0" & ptable$x2=="0"),"prob"])))



cat("Are x1 and x2 independent? no \n",

    "px1x2[1,1]=",px1x2[1,1], "px1[1]*px2[1]=",px1[1]*px2[1],"\n")

cat("px1x2[2,1]=",px1x2[2,1], "px1[2]*px2[1]=",px1[2]*px2[1],"\n")

cat("px1x2[1,2]=",px1x2[1,2], "px1[1]*px2[2]=",px1[1]*px2[2],"\n")

cat("px1x2[2,2]=",px1x2[2,2], "px1[2]*px2[2]=",px1[2]*px2[2],"\n")



# P(x4=0| x1=1, x2=0, x3=0)

Id=which(ptable$x1=="1"  & ptable$x2=="0" & ptable$x3=="0")

In=which(ptable$x1=="1" &  ptable$x2=="0" & ptable$x3=="0" & ptable$x4=="0")



cat("P(x4=0| x1=1, x2=0, x3=0)=",

    sum(ptable[In,"prob"])/sum(ptable[Id,"prob"]),"\n")

#print(Q1.G1.A1)



# P(x4=0| x1=0, x2=0, x3=0)

Id=which(ptable$x1=="0"  & ptable$x2=="0" & ptable$x3=="0")

In=which(ptable$x1=="0" &  ptable$x2=="0" & ptable$x3=="0" & ptable$x4=="0")

cat("P(x4=0| x1=0, x2=0, x3=0)=",

    sum(ptable[In,"prob"])/sum(ptable[Id,"prob"]),"\n")



# P(x4=0|  x3=0)

Id=which( ptable$x3=="0")

In=which(ptable$x3=="0" & ptable$x4=="0")





cat("P(x4=0|  x3=0)=",

    sum(ptable[In,"prob"])/sum(ptable[Id,"prob"]),"\n")



# P(x3=0| x1=1, x4=0)

In=which(ptable$x1=="1"  & ptable$x4=="0" & ptable$x3=="0")

Id=which(ptable$x1=="1" &  ptable$x4=="0" )



cat("P(x3=0| x1=1, x4=0)=",

    sum(ptable[In,"prob"])/sum(ptable[Id,"prob"]),"\n")

#print(Q1.G1.A2)



# P(x2=0| x1=1, x4=0)

In=which(ptable$x1=="1"  & ptable$x4=="0" & ptable$x2=="0")

Id=which(ptable$x1=="1" &  ptable$x4=="0" )



cat("P(x2=0| x1=1, x4=0)=",

    sum(ptable[In,"prob"])/sum(ptable[Id,"prob"]),"\n")

#print(Q1.G1.A3)



# P(x1=0| x2=0, x3=0)

In=which(ptable$x1=="0"  & ptable$x2=="0" & ptable$x3=="0")

Id=which(ptable$x2=="0" &  ptable$x3=="0" )



cat("P(x1=0| x2=0, x3=0)=",

    sum(ptable[In,"prob"])/sum(ptable[Id,"prob"]),"\n")

#print(Q1.G1.A4)



## x4 and x1 independent?

px1=c(sum(ptable[which(ptable$x1=="1"),"prob"]),

      sum(ptable[which(ptable$x1=="0"),"prob"]))

px3=c(sum(ptable[which(ptable$x3=="1"),"prob"]),

      sum(ptable[which(ptable$x3=="0"),"prob"]))

px4=c(sum(ptable[which(ptable$x4=="1"),"prob"]),

     sum(ptable[which(ptable$x4=="0"),"prob"]))



px1x4=rbind(c(sum(ptable[which(ptable$x1=="1" & ptable$x4=="1"),"prob"]),

             sum(ptable[which(ptable$x1=="1" & ptable$x4=="0"),"prob"])),

           c(sum(ptable[which(ptable$x1=="0" & ptable$x4=="1"),"prob"]),

             sum(ptable[which(ptable$x1=="0" & ptable$x4=="0"),"prob"])))



cat("Are x4 and x1 independent? non \n",

    "px1x4[1,1]=",px1x4[1,1], "px1[1]*px4[1]=",px1[1]*px4[1],"\n")

cat("px1x4[2,1]=",px1x4[2,1], "px1[2]*px4[1]=",px1[2]*px4[1],"\n")

cat("px1x4[1,2]=",px1x4[1,2], "px1[1]*px4[2]=",px1[1]*px4[2],"\n")

cat("px1x4[2,2]=",px1x4[2,2], "px1[2]*px4[2]=",px1[2]*px4[2],"\n")





## x1 and x4 independent | x3=0?

condptable=ptable[which(ptable$x3=="0"),]

condptable$prob=condptable$prob/px3[2]



px1=c(sum(condptable[which(condptable$x1=="1" ),"prob"]),

      sum(condptable[which(condptable$x1=="0"   ),"prob"]))

px4=c(sum(condptable[which(condptable$x4=="1"),"prob"]),

      sum(condptable[which(condptable$x4=="0"),"prob"]))



px1x4=rbind(c(sum(condptable[which(condptable$x1=="1" & condptable$x4=="1"),"prob"]),

              sum(condptable[which(condptable$x1=="1" & condptable$x4=="0"),"prob"])),

            c(sum(condptable[which(condptable$x1=="0" & condptable$x4=="1"),"prob"]),

              sum(condptable[which(condptable$x1=="0" & condptable$x4=="0"),"prob"])))

cat("Are x1 and x4 independent | x3=0? yes \n", "px1x3[1,1]=",px1x4[1,1], "px1[1]*px3[1]=",px1[1]*px4[1],"\n")

cat("px1x4[1,2]=",px1x4[1,2], "px1[1]*px4[1]=",px1[1]*px4[2],"\n")

cat("px1x4[2,1]=",px1x4[2,1], "px1[1]*px4[1]=",px1[2]*px4[1],"\n")

cat("px1x4[2,2]=",px1x4[2,2], "px1[1]*px4[1]=",px1[2]*px4[2],"\n")





# P(x3=0| x1=0, x4=0)

In=which(ptable$x3=="0"  & ptable$x4=="0" & ptable$x1=="0")

Id=which(ptable$x1=="0" &  ptable$x4=="0" )



sum(ptable[In,"prob"])/sum(ptable[Id,"prob"])

# P(x3=0| x4=0)

In=which(ptable$x3=="0"   & ptable$x4=="0")

Id=which(ptable$x4=="0"  )

sum(ptable[In,"prob"])/sum(ptable[Id,"prob"])



}

 group= 1
P(x1=1)= 0.4
P(x2=0)= 0.52
P(x4=0)= 0.4816
P(x1=1|x2=1)= 0.5
Are x1 and x2 independent? no
 px1x2[1,1]= 0.24 px1[1]*px2[1]= 0.192
px1x2[2,1]= 0.24 px1[2]*px2[1]= 0.288
px1x2[1,2]= 0.16 px1[1]*px2[2]= 0.208
px1x2[2,2]= 0.36 px1[2]*px2[2]= 0.312
P(x4=0| x1=1, x2=0, x3=0)= 0.6
P(x4=0| x1=0, x2=0, x3=0)= 0.6
P(x4=0|  x3=0)= 0.6
P(x3=0| x1=1, x4=0)= 0.4576271
P(x2=0| x1=1, x4=0)= 0.440678
P(x1=0| x2=0, x3=0)= 0.6923077
Are x4 and x1 independent? non
 px1x4[1,1]= 0.2112 px1[1]*px4[1]= 0.20736
px1x4[2,1]= 0.3072 px1[2]*px4[1]= 0.31104
px1x4[1,2]= 0.1888 px1[1]*px4[2]= 0.19264
px1x4[2,2]= 0.2928 px1[2]*px4[2]= 0.28896
Are x1 and x4 independent | x3=0? yes
 px1x3[1,1]= 0.1411765 px1[1]*px3[1]= 0.1411765
px1x4[1,2]= 0.2117647 px1[1]*px4[1]= 0.2117647
px1x4[2,1]= 0.2588235 px1[1]*px4[1]= 0.2588235
px1x4[2,2]= 0.3882353 px1[1]*px4[1]= 0.3882353

 group= 2
P(x1=1)= 0.6
P(x2=0)= 0.48
P(x4=0)= 0.4992
P(x1=1|x2=1)= 0.6923077
Are x1 and x2 independent? no
 px1x2[1,1]= 0.36 px1[1]*px2[1]= 0.312
px1x2[2,1]= 0.16 px1[2]*px2[1]= 0.208
px1x2[1,2]= 0.24 px1[1]*px2[2]= 0.288
px1x2[2,2]= 0.24 px1[2]*px2[2]= 0.192
P(x4=0| x1=1, x2=0, x3=0)= 0.6
P(x4=0| x1=0, x2=0, x3=0)= 0.6
P(x4=0|  x3=0)= 0.6
P(x3=0| x1=1, x4=0)= 0.5806452
P(x2=0| x1=1, x4=0)= 0.4193548
P(x1=0| x2=0, x3=0)= 0.5
Are x4 and x1 independent? non
 px1x4[1,1]= 0.3024 px1[1]*px4[1]= 0.30048
px1x4[2,1]= 0.1984 px1[2]*px4[1]= 0.20032
px1x4[1,2]= 0.2976 px1[1]*px4[2]= 0.29952
px1x4[2,2]= 0.2016 px1[2]*px4[2]= 0.19968
Are x1 and x4 independent | x3=0? yes
 px1x3[1,1]= 0.2322581 px1[1]*px3[1]= 0.2322581
px1x4[1,2]= 0.3483871 px1[1]*px4[1]= 0.3483871
px1x4[2,1]= 0.1677419 px1[1]*px4[1]= 0.1677419
px1x4[2,2]= 0.2516129 px1[1]*px4[1]= 0.2516129

 group= 3
P(x1=1)= 0.5
P(x2=0)= 0.4
P(x4=0)= 0.496
P(x1=1|x2=1)= 0.6666667
Are x1 and x2 independent? no
 px1x2[1,1]= 0.4 px1[1]*px2[1]= 0.3
px1x2[2,1]= 0.2 px1[2]*px2[1]= 0.3
px1x2[1,2]= 0.1 px1[1]*px2[2]= 0.2
px1x2[2,2]= 0.3 px1[2]*px2[2]= 0.2
P(x4=0| x1=1, x2=0, x3=0)= 0.6
P(x4=0| x1=0, x2=0, x3=0)= 0.6
P(x4=0|  x3=0)= 0.6
P(x3=0| x1=1, x4=0)= 0.5409836
P(x2=0| x1=1, x4=0)= 0.2131148
P(x1=0| x2=0, x3=0)= 0.75
Are x4 and x1 independent? non
 px1x4[1,1]= 0.256 px1[1]*px4[1]= 0.252
px1x4[2,1]= 0.248 px1[2]*px4[1]= 0.252
px1x4[1,2]= 0.244 px1[1]*px4[2]= 0.248
px1x4[2,2]= 0.252 px1[2]*px4[2]= 0.248
Are x1 and x4 independent | x3=0? yes
 px1x3[1,1]= 0.1833333 px1[1]*px3[1]= 0.1833333
px1x4[1,2]= 0.275 px1[1]*px4[1]= 0.275
px1x4[2,1]= 0.2166667 px1[1]*px4[1]= 0.2166667
px1x4[2,2]= 0.325 px1[1]*px4[1]= 0.325

In [6]:
ptable

   x1 x2 x3 x4 prob
1  0  0  0  0  0.108
2  1  0  0  0  0.036
3  0  1  0  0  0.048
4  1  1  0  0  0.096
5  0  0  1  0  0.048
6  1  0  1  0  0.016
7  0  1  1  0  0.048
8  1  1  1  0  0.096
9  0  0  0  1  0.072
10 1  0  0  1  0.024
11 0  1  0  1  0.032
12 1  1  0  1  0.064
13 0  0  1  1  0.072
14 1  0  1  1  0.024
15 0  1  1  1  0.072
16 1  1  1  1  0.144

In [7]:
?which

In [8]:
In

[1] 1 2 3 4

In [14]:
ptable[In,"prob"]

[1] 0.108 0.036 0.048 0.096

In [15]:
In=which(ptable$x1=="1" )

In [16]:
In

[1]  2  4  6  8 10 12 14 16

In [17]:
sum(ptable[In,"prob"])

[1] 0.5

In [18]:
   ptable=Q1.G3.D

In [19]:
ptable

   x1 x2 x3 x4 prob
1  0  0  0  0  0.108
2  1  0  0  0  0.036
3  0  1  0  0  0.048
4  1  1  0  0  0.096
5  0  0  1  0  0.048
6  1  0  1  0  0.016
7  0  1  1  0  0.048
8  1  1  1  0  0.096
9  0  0  0  1  0.072
10 1  0  0  1  0.024
11 0  1  0  1  0.032
12 1  1  0  1  0.064
13 0  0  1  1  0.072
14 1  0  1  1  0.024
15 0  1  1  1  0.072
16 1  1  1  1  0.144

In [30]:
In = which(ptable$x1 == "0")

In [31]:
In

[1]  1  3  5  7  9 11 13 15

In [32]:
sum(ptable[In,"prob"])

[1] 0.5

In [45]:
In = which(ptable$x1 == "1" & ptable$x2 == "1")

In [43]:
In

[1]  4  8 12 16

In [38]:
sum(ptable[In,"prob"])

[1] 0.5

In [44]:
Id = which(ptable$x2 == "1")

In [40]:
Id

[1]  3  4  7  8 11 12 15 16

In [46]:
sum(ptable[In,"prob"])/ sum(ptable[Id,"prob"])

[1] 0.6666667

In [50]:
condptable=ptable[which(ptable$x3=="0"),]

In [51]:
condptable

   x1 x2 x3 x4 prob
1  0  0  0  0  0.108
2  1  0  0  0  0.036
3  0  1  0  0  0.048
4  1  1  0  0  0.096
9  0  0  0  1  0.072
10 1  0  0  1  0.024
11 0  1  0  1  0.032
12 1  1  0  1  0.064

In [52]:
condptable$prob

[1] 0.108 0.036 0.048 0.096 0.072 0.024 0.032 0.064

In [53]:
px3=c(sum(ptable[which(ptable$x3=="1"),"prob"]),

      sum(ptable[which(ptable$x3=="0"),"prob"]))

In [54]:
px3

[1] 0.52 0.48

In [55]:
condptable$prob=condptable$prob/px3[2]

In [57]:
sum(condptable$prob)

[1] 1

In [58]:
condptable

   x1 x2 x3 x4 prob
1  0  0  0  0  0.22500000
2  1  0  0  0  0.07500000
3  0  1  0  0  0.10000000
4  1  1  0  0  0.20000000
9  0  0  0  1  0.15000000
10 1  0  0  1  0.05000000
11 0  1  0  1  0.06666667
12 1  1  0  1  0.13333333

In [59]:
px1=c(sum(condptable[which(condptable$x1=="1" ),"prob"]),

      sum(condptable[which(condptable$x1=="0"   ),"prob"]))

px4=c(sum(condptable[which(condptable$x4=="1"),"prob"]),

      sum(condptable[which(condptable$x4=="0"),"prob"]))

In [60]:
px1x4=rbind(c(sum(condptable[which(condptable$x1=="1" & condptable$x4=="1"),"prob"]),

              sum(condptable[which(condptable$x1=="1" & condptable$x4=="0"),"prob"])),

            c(sum(condptable[which(condptable$x1=="0" & condptable$x4=="1"),"prob"]),

              sum(condptable[which(condptable$x1=="0" & condptable$x4=="0"),"prob"])))

cat("Are x1 and x4 independent | x3=0? yes \n", "px1x3[1,1]=",px1x4[1,1], "px1[1]*px3[1]=",px1[1]*px4[1],"\n")

cat("px1x4[1,2]=",px1x4[1,2], "px1[1]*px4[1]=",px1[1]*px4[2],"\n")

cat("px1x4[2,1]=",px1x4[2,1], "px1[1]*px4[1]=",px1[2]*px4[1],"\n")

cat("px1x4[2,2]=",px1x4[2,2], "px1[1]*px4[1]=",px1[2]*px4[2],"\n")

Are x1 and x4 independent | x3=0? yes
 px1x3[1,1]= 0.1833333 px1[1]*px3[1]= 0.1833333
px1x4[1,2]= 0.275 px1[1]*px4[1]= 0.275
px1x4[2,1]= 0.2166667 px1[1]*px4[1]= 0.2166667
px1x4[2,2]= 0.325 px1[1]*px4[1]= 0.325

In [61]:
px1x4

     [,1]      [,2]
[1,] 0.1833333 0.275
[2,] 0.2166667 0.325

In [64]:
px1[1]*px4[2]

[1] 0.275